[Unit]
Description=Prevents the system from goint to sleep if Youtube is focused
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/bash /usr/local/bin/prevent_youtube_sleep.sh

[Install]
WantedBy=default.target
