[Unit]
Description=Takes a screenshot

[Service]
Type=simple
Environment=DISPLAY=":0"
ExecStart=/bin/bash /usr/local/bin/screencast.sh -a -i -r .data/screenshotter

[Install]
WantedBy=default.target
