[Unit]
Description=Takes a screenshot
After=network.target

[Service]
Type=simple
Environment=DISPLAY=":0"
ExecStart=/bin/bash /usr/local/bin/screenshotter.sh

[Install]
WantedBy=default.target
